*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: rgb(246, 246, 246);
  /*background-color: rgb(41, 43, 93);*/
}
.logoName{
  font-size: 32px;
  color:white;
}
.nav{
  width: 150px;
  height: 100vh;
  background-color:rgb(246, 246, 246);
  /*background-color:rgb(41, 43, 93);*/
}
.navtop{
  height: 50px;
  background-color: rgb(0, 171, 155);
}
.navitem{
  box-sizing: border-box;
  padding: 10px 0px 10px 20px;
  width: 150px;
  font-family: sans-serif;
}
.nav-title{
  z-index: 3;
}
.navitem:hover {
  background-color:rgb(194, 194, 194);
}
a{
  text-decoration: none;
  color: black;
}
.activenav{
  background-color: rgba(194, 194, 194, 0.5);
  width: 150px;
  height: 38.5px;
  z-index: 2;
  position: absolute;
}
.listcolumn{
  width: 30%;
  height: 93%;
  overflow-y: scroll;
}
.listitem{
  box-sizing: border-box;
  padding: 10px 0px 10px 20px;
  width: 100%;
  font-family: sans-serif;
  display: inline-grid;

}
.detailcolumn{
  box-sizing: border-box;
  padding: 10px;
  width: 58%;
  /*background-color: grey;*/
  height: 93%;
}
.layoudetails{
  width: 58%;
}
.addlayout{
  width: 100%;
  height: 10%;
}
.listitem:hover{
  background-color:rgb(194, 194, 194)
}
.sub{
  font-size: 12px;
  color: gray;
}
/*.cbc{
  background-color: rgb(203, 203, 203);
  border: solid 1px rgba(255, 255, 255, 0.5);
}*/
